.home {
  header {
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    background-image: url("/images/header-background-image.jpg");
    color: white;

    .back {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .content {
      @extend .container;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      padding: 5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        @extend .display-4;
        font-size: 2rem;
        text-transform: uppercase;
      }

      a {
        background-color: transparent;
        border-style: none;
        color: white;
        padding: 0;

        svg:hover {
          color: #ddd;
        }
      }
    }
  }
}
