.home {
  .newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    background-color: cadetblue;
    color: white;
    min-height: 100vh;

    h3 {
      @extend .display-4;
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    input {
      width: 50%;
    }

    small {
      margin-bottom: 3rem;
    }

    button {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px 20px;
      transition: 0.3s;
    }

    button:hover {
      color: #284142;
      border-color: #284142;
    }
  }
}
