$font-serif: "Bellota Text", serif;
$medium-width: 768px;
$color-green: #8d8741;
$color-blue: #659dbd;
$color-brown: #daad86;
$color-brown-medium: #bc986a;
$color-brown-light: #fbeec1;
$color-white: #fff;
$color-blue2: #64bfbd;
$color-green: #0f514e;
$color-red: #f92b42;
$color-orange: #fcb576;
$color-pink: #f8d4d4;
$color-pink-light: #f7e7e9;
$color-text: #2b0000;
$background-color: #f3f3f3;
